*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
    }

body{
    background-color:white;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    font-family: 'Ubuntu' , sans-serif;
    padding: 20px ;
    transition: all 0.3s ease;
    background-color:#fff; 
}

.navbar .max-width{

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar.sticky{

    padding: 10px;
    background: Teal;
}

.max-width{
    max-width:1300px ;
    padding: 0 80px;
    margin: auto;
}


.navbar .logo a{
    color: rgb(37, 36, 36);
    font-size: 25px;
    font-weight: 600;
    
}

.navbar .logo a span{
    color: rgb(43, 122, 224);
    transition: all 0.3s ease;
 }

 .navbar.sticky .logo a span{
    color: rgb(255, 255, 255);
}

.navbar.sticky .menu li a:hover {
    color: rgb(8, 2, 2);
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
   
}

.navbar .menu li a{
    display: block;
    color: rgb(32, 32, 32);
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
    transition: color 0.3s ease;
    float: left;

}

.navbar .menu li a:hover{
    color: Teal
}

.navbar .menu li input{
    display: block;
    color: rgb(14, 13, 13);
    font-size: 14px;
    font-weight: 0;
    margin-left: 25px;
    transition: color 0.3s ease;
    width: 500px;
    height: 40;
    border-radius: 25px;
    border: 0.5px solid rgb(140, 141, 141);
    background: rgb(242, 243, 243);

}

.navbar .btn1 {
    display: inline;

}
.navbar .btn1 .cadastrar {

    background: rgb(43, 122, 224);
    border: rgb(43, 122, 224);
    height: 40px;
    width: 100px;
    color: #fff;
    font-size: 12px;
    font-weight: 50;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.navbar .btn1 .login {

    background: rgb(247, 242, 242);

    border: rgb(0, 110, 255);
    height: 40px;
    width: 100px;
    color: rgb(43, 122, 224);
    font-size: 12px;
    font-weight: 650;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;

}


.navbar  .button button{
    height: 100%;
    width: 100%;
    border: 2px solid Teal;
    background: Teal;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.navbar  .button button:hover{
    color:Teal;
    background: none;


}


.home{
    display: flex;
    background: url("imagens/c.jpg") no-repeat center;
    height: 100vh;
    color: rgb(184, 25, 33);
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 0;
}

.home .home-content .text-1{
    font-size: 27px;

}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: Teal;
    font-weight: 500;
}